html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, details, summary {
  display: block; }

img,
object,
embed {
  max-width: 100%; }
  .ee_gmap img, .ee_gmap
  object, .ee_gmap
  embed {
    max-width: none; }

html {
  overflow-y: scroll; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }
input[type="checkbox"] {
  vertical-align: bottom; }
.ie7 input[type="checkbox"] {
  vertical-align: baseline; }
.ie6 input {
  vertical-align: text-bottom; }

select,
input,
textarea {
  font: 100% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

td,
td img {
  vertical-align: top; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif; }

.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer; }

button,
input,
select,
textarea {
  margin: 0; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  cursor: default; }

code {
  cursor: text; }

/*
textarea and input[type="text"] already receive
"cursor: text" via browsers' base stylesheets
*/
a,
label,
button,
input[type="radio"],
input[type="submit"],
input[type="checkbox"] {
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

article, aside, details,
fig caption, figure, footer,
header, group, nav, section {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

/*-------------------------------------------
	General Selectors
-------------------------------------------*/
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: white url(/a/img/background.png); }

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4d4d4d;
  background: url(/a/img/plan.jpg) center top no-repeat; }

/* Block Level */
h1 {
  margin-bottom: 0.5em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.3125em;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal; }

h2 {
  margin-bottom: 0.5em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.5em;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal; }

h3 {
  margin-bottom: 0.5em;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2em;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal; }

h4 {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase; }

p {
  margin-bottom: 1.5em; }

ol {
  margin-bottom: 1.5em; }

ul {
  margin-bottom: 1.5em; }

/* Inline */
i,
em {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic; }

b,
strong {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal; }

a {
  color: #2882bf;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

img {
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/*-------------------------------------------
	Forms
-------------------------------------------*/
label {
  display: block;
  margin: 0 0 5px 0; }

input[type="text"], input[type="search"], input[type="email"], input[type="password"] {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4d4d4d;
  border: 1px solid #c2c2c2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  display: block;
  padding: 11px 25px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background: #2882bf;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

textarea {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4d4d4d;
  border: 1px solid #c2c2c2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

button {
  -webkit-appearance: none; }

/*-------------------------------------------
	Layouts
-------------------------------------------*/
#content {
  padding: 30px 0 40px 0; }

/*-------------------------------------------
	Misc.
-------------------------------------------*/
.wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px; }

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }
.lt-ie8 .group {
  zoom: 1; }

.left {
  float: left;
  display: block;
  margin: 0 20px 20px 0; }

.right {
  float: right;
  display: block;
  margin: 0 0 20px 20px; }

.caps {
  text-transform: uppercase; }

.upper {
  text-transform: uppercase; }

.line {
  display: block; }

.move {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
  .move.focusable:active, .move.focusable:focus {
    position: static;
    clip: auto;
    height: auto;
    width: auto;
    margin: 0;
    overflow: visible; }

.hide {
  display: none !important;
  visibility: hidden; }

.required {
  color: #ff634a; }

/*

#wrapper {

	@media screen and (min-width: 740px) {

		display: table;
		height: 100%;
		width: 100%;

	}

}

#page {

	@media screen and (min-width: 740px) {

		display: table-row;
		height: 100%;

	}

}

#footer {

	@media screen and (min-width: 740px) {

		display: table-row;

	}

}

*/
body.dev {
  padding-bottom: 30px; }

#dev {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 8px 10px 0 10px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.16667em;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  background: #d4b0ff;
  z-index: 9999999; }

/*-------------------------------------------
	Header
-------------------------------------------*/
#header {
  margin: 0 0 35px 0;
  padding: 20px 0 30px 0;
  background: rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid #e6e6e6; }
  @media screen and (min-width: 700px) {
    #header .wrap {
      position: relative;
      padding-top: 170px; } }

#logo a {
  display: block;
  width: 266px;
  height: 131px;
  margin: 0 auto 20px auto;
  background: url(/a/img/logo.png);
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden; }
  @media screen and (min-width: 700px) {
    #logo a {
      position: absolute;
      left: 18px;
      top: 10px;
      z-index: 5; } }
#logo span {
  display: block;
  margin: 0 0 25px 0;
  color: #989594;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "proxima-nova-alt-condensed";
  font-weight: 400;
  font-style: italic;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 700px) {
    #logo span {
      margin: 0 0 5px 0;
      font-size: 24px;
      font-size: 2.4rem; } }

#nav {
  /* Active Section */ }
  @media screen and (min-width: 700px) {
    #nav {
      position: absolute;
      right: 30px;
      top: 94px;
      z-index: 5; } }
  #nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #c2c2c2; }
    #nav ul:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
      font-size: 0; }
    .lt-ie8 #nav ul {
      zoom: 1; }
    @media screen and (min-width: 700px) {
      #nav ul {
        border: none; } }
  #nav li {
    float: left;
    width: 50%;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #c2c2c2; }
    @media screen and (min-width: 700px) {
      #nav li {
        width: auto;
        margin: 0 0 0 10px;
        border: none; } }
    #nav li:nth-child(odd) {
      border-right: 1px dotted #c2c2c2; }
      @media screen and (min-width: 700px) {
        #nav li:nth-child(odd) {
          border: none; } }
  #nav a {
    display: block;
    padding: 10px 10px 11px 10px;
    color: #2882bf; }
    @media screen and (min-width: 700px) {
      #nav a {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; } }
    @media screen and (min-width: 760px) {
      #nav a {
        padding: 10px 15px 11px 15px; } }
    #nav a:hover {
      text-decoration: none;
      background: rgba(40, 130, 191, 0.15); }
  #nav .active a {
    color: white;
    background: #2882bf; }

/*-------------------------------------------
	Hero
-------------------------------------------*/
#hero .hero {
  width: 100%; }

/*-------------------------------------------
	Main
-------------------------------------------*/
#home h1 {
  display: none; }

/* Featured Testimonial */
.featured-testimonial {
  margin: 0 0 30px 0; }
  .featured-testimonial .title {
    margin-bottom: 0.5em;
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 1.3125em;
    text-transform: uppercase; }

/* Services Listing */
.services-listing header {
  margin: 50px 0 40px 0;
  text-align: center; }
.services-listing h2 {
  display: inline-block;
  margin: 0;
  padding: 5px 50px 3px 50px;
  text-transform: uppercase;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2; }
@media screen and (min-width: 460px) {
  .services-listing ul {
    text-align: justify; }
    .services-listing ul:after {
      content: "";
      display: inline-block;
      width: 100%; } }
.services-listing li {
  margin: 0 0 30px 0; }
  @media screen and (min-width: 460px) {
    .services-listing li {
      display: inline-block;
      width: 47%;
      text-align: left;
      vertical-align: top; } }
  @media screen and (min-width: 800px) {
    .services-listing li {
      width: 31%; } }
.services-listing a {
  color: #989594; }
  .services-listing a:hover {
    text-decoration: none;
    color: #2882bf; }
    .services-listing a:hover img {
      outline: 3px solid #2ea7de; }
.services-listing img {
  margin: 0 0 15px 0; }
.services-listing h3 {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857em;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase; }

/* About Us */
.about-us {
  margin: 0 0 -30px 0; }
  @media screen and (min-width: 460px) {
    .about-us {
      margin: -60px 0 -30px 0; } }
  .about-us header {
    margin: 50px 0 40px 0;
    text-align: center; }
  .about-us h2 {
    display: inline-block;
    margin: 0;
    padding: 5px 50px 3px 50px;
    text-transform: uppercase;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2; }
  @media screen and (min-width: 460px) {
    .about-us .content {
      text-align: justify; }
      .about-us .content:after {
        content: "";
        display: inline-block;
        width: 100%; } }
  .about-us .content div {
    margin: 0 0 30px 0; }
    @media screen and (min-width: 460px) {
      .about-us .content div {
        display: inline-block;
        width: 47%;
        text-align: left;
        vertical-align: top; } }
    @media screen and (min-width: 800px) {
      .about-us .content div {
        width: 31%; } }
  .about-us a {
    color: #989594; }
    .about-us a:hover {
      text-decoration: none;
      color: #2882bf; }
      .about-us a:hover img {
        outline: 3px solid #2ea7de; }
  .about-us img {
    margin: 0 0 15px 0; }
  .about-us h3 {
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.42857em;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase; }

/* Why We're Different */
.why-were-different header {
  margin: 50px 0 40px 0;
  text-align: center; }
.why-were-different h2 {
  display: inline-block;
  margin: 0;
  padding: 5px 50px 3px 50px;
  text-transform: uppercase;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2; }
.why-were-different ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.why-were-different li {
  margin: 0 0 30px 0; }

/* Testimonials Listing */
.testimonials-listing header {
  margin: 50px 0 40px 0;
  text-align: center; }
.testimonials-listing h2 {
  display: inline-block;
  margin: 0;
  padding: 5px 50px 3px 50px;
  text-transform: uppercase;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2; }
.testimonials-listing blockquote {
  margin: 0 0 30px 0; }
.testimonials-listing .name {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal; }

/* Form */
.form h2 {
  margin: 0 0 24px 0; }
.form li {
  margin: 0 0 24px 0; }

/*-------------------------------------------
	Secondary
-------------------------------------------*/
/*-------------------------------------------
	Footer
-------------------------------------------*/
#footer {
  padding: 30px 0;
  color: white;
  background: #646e70 url(/a/img/footer-background.png);
  border-top: 5px solid #464d4e;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); }
  @media screen and (min-width: 800px) {
    #footer {
      padding: 40px 0; } }
  @media screen and (min-width: 600px) {
    #footer .wrap {
      position: relative;
      padding-bottom: 55px; } }

@media screen and (min-width: 600px) {
  .secondary-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }
  .lt-ie8 .secondary-nav {
    zoom: 1; } }
.secondary-nav div {
  margin: 0 0 20px 0; }
  @media screen and (min-width: 600px) {
    .secondary-nav div {
      float: left;
      width: 33.33333%;
      padding: 0 30px 0 0; } }
.secondary-nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.secondary-nav a {
  color: #c2c2c2; }

.logo {
  position: relative;
  left: -12px;
  margin: 0 0 24px 0;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden; }
  @media screen and (min-width: 600px) {
    .logo {
      position: absolute;
      left: 18px;
      bottom: -20px;
      z-index: 5; } }
  .logo a {
    display: block;
    width: 132px;
    height: 50px;
    background: url(/a/img/footer-logo.png);
    background-size: 132px 50px; }

#copyright {
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857em;
  color: #c2c2c2; }
  @media screen and (min-width: 600px) {
    #copyright {
      position: absolute;
      right: 30px;
      bottom: 0;
      z-index: 5; } }
